<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="img-wrapper">
				<img src="https://api.fnkr.net/testimg/470x350/00CED1/FFF/?text=img+placeholder">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<h1 class="article-title">Постановление об отмене административного выдворения отменено</h1>
			<div class="article-info">
				<p class="article-date">20 декабря 2016</p>
				<p class="article-comments_count"><i class="fa"></i> 13</p>
				<p class="article-comments_count"><i class="fa"></i> 123</p>
			</div>
		</div>
		<div class="col-xs-12">
			<div class="article-body">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto rerum nesciunt aperiam eveniet voluptas sit modi tenetur minus voluptates nihil, dolore impedit, facilis sapiente omnis labore dolorem deleniti blanditiis nobis?</p>
				<p>Lorem ipsum dolor sit amet.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, rerum!</p>
				<div class="img-list">
					<div class="img-wrapper">
						<img src="https://api.fnkr.net/testimg/280x380/00CED1/FFF/?text=img+placeholder">
					</div>
					<div class="img-wrapper">
						<img src="https://api.fnkr.net/testimg/280x380/00CED1/FFF/?text=img+placeholder">
					</div>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, rerum!</p>
				<div class="img-list img-list-popup">
					<div class="img-wrapper js-popup">
						<img src="https://api.fnkr.net/testimg/280x380/00CED1/FFF/?text=popup">
					</div>
					<div class="img-wrapper js-popup">
						<img src="https://api.fnkr.net/testimg/280x380/00CED1/FFF/?text=popup">
					</div>
					<div class="img-wrapper js-popup">
						<img src="https://api.fnkr.net/testimg/280x380/00CED1/FFF/?text=popup">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>