.about-block{
	.title{
		margin-bottom: 15px;
	}

	.about,
	.feedback{
		margin-bottom: 35px;
		@media (min-width: $screen-md){
			margin-bottom: 60px;
		}
	}
}

.recom-link{
	color: #3c3c3c;
	&:hover{
		color: #3c3c3c;
		.recom-title{
			color: #ac5c00;
		}
	}
}

.recom-block{
	.recom-block-title{
		margin-bottom: 45px;
		@media (min-width: $screen-md){
			margin-bottom: 36px;
		}
	}

	.recom-letter{
		opacity: 0.8;
		margin-bottom: 30px;
	}

	.recom-info{
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 10px;
		font-weight: bold;
		overflow: hidden;

		.recom-date,
		.recom-divider{
			float: left;
			margin-bottom: 0;
		}

		.recom-divider{
			margin: 5px 8px;
			width: 1px;
			height: 10px;
			border-left: 1px solid #ac5c00;
		}

		.recom-author{
			margin-bottom: 0;			
		}
	}

	.recom-list{
		.recom-item{
			margin-bottom: 50px;
			@media (min-width: $screen-md){
				margin-bottom: 72px;
			}
		}
	}

	.recom-title{
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 5px;
		font-family: Proxima;
		font-weight: bold;
	}

	.recom-description{
		letter-spacing: 0.1px;
	}

	.img-list{
		.img-wrapper{
			margin-bottom: 35px;
		}
		@media (min-width: $screen-md){
			.img-wrapper{
				text-align: left;
			}
			.row > div:nth-of-type(even){
				text-align: right;
			}
		}
	}
}