.article-full{
	.article-img{
		max-width: 280px;
		margin-bottom: 20px;
	}

	.article-title{
		font-weight: normal;
		margin-bottom: 30px;
	}

	.article-info{
		margin-bottom: 35px;
		line-height: 17px;
		font-weight: bold;
		font-size: 14px;
		overflow: hidden;

		.article-date{
			float: left;
			margin: 0 30px 0 0;
		}

		.article-comments{
			margin: 0 10px 0 0;
		}

		.article-views{
			margin: 0;
		}

		.article-comments,
		.article-views{
			float: left;
		}

		img{
			margin-right: 7px;
		}

		img, .count{
			float: left;
			line-height: 17px;
		}

		.article-views{
			height: 17px;
		}

	}

	.social-share{
		overflow: hidden;
	    margin-bottom: 35px;
	    font-weight: bold;
		.social_item{
			border: 2px solid #ECEBE8;
			border-radius : 50%;
			padding: 5px;
			display: inline-block;
			width: 40px;
			height: 40px;
			text-align: center;
			float: left;
			margin-right: 10px;
			img{
				height: 20px;
				width: 20px;
			}
			&:hover{
				border-color: #ac5c00;
			}
		}
	}

	.article-description{
		font-size: 16px;
		line-height: 24px;
		p{
			margin-bottom: 20px;
		}
	}

	.img-list{
		.img-wrapper{
			max-width: 100%;
			margin-bottom: 30px;
		}
	}
	
	.article-description{
		margin-bottom: 45px;		
	}

	@media (min-width: $screen-lg){
		.article-img{
			max-width: 100%;
			margin-bottom: 0;
		}

		.article-title{
			margin-bottom: 40px;
		}

		.article-intro{
			position: relative;
			margin-bottom: 25px;
			&>*{
				position: static;
			}
			.social-share{
			    position: absolute;
				bottom: 0;
				width: 50%;
				margin: 0;
				right: 0;
				padding: 0 10px;
			}
		}

		.social-share{
			p{
				float: left;
				margin: 8px 20px 8px 0;
			}
		}

		.article-description{
			margin-bottom: 30px;
		}
	}

}