.contact-header{
	.title{
		margin-bottom: 36px;
	}

	margin-bottom: 20px;

	@media (min-width: 768px){
		.site{
			text-align: center;
		}

		.address{
			text-align: right;
		}
	}

	.phone,
	.site,
	.address{
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 18px;
		font-weight: bold;
		letter-spacing: 0.1px;
	}
}

#map{
	height: 490px;
	@media (min-width: 768px){
		height: 1200px;
	}
}