#page-content.error-page{
	position: absolute;
	z-index: 2000;
    background: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .container{
	    padding-top: 12.5vh;

    	.error-content{
		    font-weight: bold;
    		font-size: 150px;
		    line-height: 1;
		    padding: 0;
		    margin-bottom: 20px;
		    background: #fff;
		    display: inline-block;
		    background: #fff;
		    position: relative;
    	}
    	.corner{
		    position: absolute;
		    right: -2px;
		    top: -2px;
		    height: 25px;
		    z-index: -1;
		    width: 25px;
		    border: solid 2px #ac5000;
    	}

    	.error-sign{
		    font-family: 'Yeseva One', cursive;
		    font-size: 40px;
		    line-height: 1.2;
		    display: inline-block;
		    padding: 0;
		    letter-spacing: 0.4px;
    	}

    	@media (min-width: $screen-sm){
    		.error-content{
    			font-size: 180px;
    			line-height: 1;
    			padding: 0;
    		}

    		.error-sign{
    			font-size: 45px;
    			padding: 0;
    			line-height: 1.2;		
    		}
	    }
	    
	    @media (min-width: $screen-lg){
	    	.error-content{
	    		font-size: 320px;
			    line-height: 200px;
			    height: 236px;
			    padding: 36px 0 0 0;
		    	margin: 0;
	    	}
	    	.error-sign{
	    		font-size: 56px;
			    line-height: 64px;
			    height: 236px;
			    padding: 56px 0 0px 0;

	    	}
	    }

    	.link_back{
    		margin-top: 70px;
    	}
    }
}
