.main_slider{
	.slider_menu{
		margin: 0;
		padding: 0;
		margin-bottom: 40px;
		ul{
			margin: 0;
			padding: 0;
			overflow: hidden;
		}
		.slider_menu_item-wrapper{
			list-style:none;
			float: left;
			width: 24px;
			height: 2px;
			
			margin-right: 12px;
			background:#fff;
			-webkit-transform: scale3d(1.1,1.1,1.1);
		    transform: scale3d(1.1,1.1,1.1);
		    transition: -webkit-transform 1.5s cubic-bezier(.19,1,.22,1),border-width 1.1s cubic-bezier(.19,1,.22,1);
		    transition: transform 1.5s cubic-bezier(.19,1,.22,1),border-width 1.1s cubic-bezier(.19,1,.22,1);
		    &.current{
		    	background:#ac5c00;
		    }
			&:hover{
				height: 24px;
			}
		}
	}

	.slider_title_list{
		height: 120px;
		margin-bottom: 35px;
		.main_slide.title_wrapper{
			font-size: 56px;
			line-height: 60px;
		}

		.list_services_slide.title_wrapper,
		.recomendation_slide.title_wrapper{
			font-size: 36px;
			line-height: 42px;
		}
	}
	
	.slider_sign_list{
		height: 150px;
		margin-bottom: 35px;
		.main_slide.slider_sign_wrapper{
			max-width: 540px;
			font-size: 20px;
			line-height: 30px;
			color: #fff;
		}
	}

	.slider_link_list{
		.slider_link_wrapper{
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 1px;
			font-weight: bold;
			&.main_slide a{
				color: #fff;
			}
		}
	}

	.slider_menu_item{
		display: inline-block;
	}

	.slider_list{
		padding: 80px 0;
	}

	.slider_sign_list .slider_sign_wrapper{
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 20px;
			}
		}
	}
}