.main_slider{
	.slider_title_list{
		margin-bottom: 35px;
		.main_slide.title_wrapper{
			font-size: 56px;
			line-height: 60px;
		}

		.list_services_slide.title_wrapper,
		.recomendation_slide.title_wrapper{
			font-size: 36px;
			line-height: 42px;
		}
	}
	
	.slider_sign_list{
		height: 150px;
		margin-bottom: 35px;
		.main_slide.slider_sign_wrapper{
			max-width: 540px;
			font-size: 20px;
			line-height: 30px;
			color: #fff;
		}
	}

	.slider_link_list{
		.slider_link_wrapper{
			font-size: 16px;
			line-height: 24px;
			letter-spacing: 1px;
			font-weight: bold;
			&.main_slide a{
				color: #fff;
			}
		}
	}

	.slider_list{
		padding: 80px 0;
	}

	.slider_sign_list .slider_sign_wrapper{
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 20px;
			}
		}
	}
}