.service-info-title{
	margin-bottom: 30px;
}

.service-description{
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.1px;
	margin-bottom: 50px;
}

.service-price-block{
	margin-bottom: 30px;
	.title{
		margin-bottom: 15px;
	}
	.service-price{
		font-size: 20px;
		line-height: 26px;
		margin: 0;
	}
}

@media (min-width: $screen-md){
	.service-info-title{
		margin-bottom: 25px;
	}
	.service-description{
		margin-bottom: 35px;
		p{
			margin: 0;
		}
	}
	.service-price-block{
		margin-bottom: 35px;
	}
}