.main_slider,
.list_services_slider{
	position: relative;
	.container{
		position: relative;
	}

    .placeholder{
		visibility: hidden;
    }
}

.slider_list{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 215px);
    overflow: hidden;
}

.slider_bg_list{
	&,
	.bg{
	    position: absolute;
	    left: 0;
	    margin: auto;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    right: 0;
	    bottom: 0;
	}

	.bg{
		background-size: cover;
	    background-repeat: no-repeat;
	    background-position: bottom right;
	    opacity: 0;
	    -webkit-transform: scale3d(1.1,1.1,1.1);
	    transform: scale3d(1.1,1.1,1.1);
	    transition: -webkit-transform 1.5s cubic-bezier(.19,1,.22,1),opacity 1.1s cubic-bezier(.19,1,.22,1);
	    transition: transform 1.5s cubic-bezier(.19,1,.22,1),opacity 1.1s cubic-bezier(.19,1,.22,1);
	    &.current{
    	    opacity: 1;
		    -webkit-transform: none;
		    transform: none;
	    }
	}
}

.slider_index_list {
    position: absolute;
    width: 100%;
    height: 100%;
    font-family: YesevaOne;
    font-size: 150px;
    line-height: 150px;
    opacity: 0.5;
    // font: 21.88rem/21.88rem GinesoBold;
    .index_wrapper{
	    position: absolute;
	    top: 0;
	    left: 0;
	    overflow: hidden;
	    transition: opacity .6s cubic-bezier(.19,1,.22,1);
	    opacity: 0;
	    &.current{
	    	opacity: 1;
		    transition-duration: .7s;
	    }

	    &.less .index{
			-webkit-transform: translate3d(0,-100%,0);
		    transform: translate3d(0,-100%,0);
	    }

	    &.greater .index{
    	    -webkit-transform: translate3d(0,100%,0);
		    transform: translate3d(0,100%,0);
	    }

	    .index{
    	    transition: -webkit-transform .8s cubic-bezier(.19,1,.22,1);
		    transition: transform .8s cubic-bezier(.19,1,.22,1);
		    float: left;
	    }
	    .index:last-child {
		    transition-duration: 1s;
		    transition-delay: .05s;
		}

	    &.current div{
		    -webkit-transform: none;
		    transform: none;
	    }
    }
}

.slider_title_list {
    position: relative;
    display: block;
	font-family: YesevaOne;
	font-size: 36px;
	line-height: 1.17;
	letter-spacing: normal;
	color: #3c3c3c;
    .title_wrapper{
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 15px;
	    overflow: hidden;
	    .title{
	    	display: block;
	    	position: relative;
		    transition: transform .6s cubic-bezier(.19,1,.22,1);
	    }
	    &.current .title{
		    -webkit-transform: none;
		    transform: none;
	    }
	    &.less .title{
			-webkit-transform: translate3d(0,-100%,0);
		    transform: translate3d(0,-100%,0);
	    }
	    &.greater .title{
		    -webkit-transform: translate3d(0,100%,0);
		    transform: translate3d(0,100%,0);
	    }
    }
}

.slider_sign_list{
    position: relative;
    display: block;
    margin-bottom: 2.5rem;
    .slider_sign_wrapper{
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 15px;
	    overflow: hidden;
	    opacity: 0;
	    &.current{
	    	opacity: 1;
	    }
    }
}

.slider_link_list{
    position: relative;
    display: block;
    margin-bottom: 2.5rem;
    .slider_link_wrapper{
	    display: block;
	    position: absolute;
	    top: 0;
	    left: 15px;
	    overflow: hidden;
	    opacity: 0;
	    &.current{
	    	opacity: 1;
	    }
    }
}